################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TFCCC/FileContentIndex/64a2b5a3-c8ea-4247-ab4b-04cb492d6a49.vsidx
/.vs/TFCCC/FileContentIndex/a06eddc9-6d34-40d9-b3bb-a583d20be48d.vsidx
