################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TFCCC/FileContentIndex/64a2b5a3-c8ea-4247-ab4b-04cb492d6a49.vsidx
